/* General */
* { box-sizing: border-box; }

:root {

    --beige-1:beige;
    --red-dark-1: #a31915;
    --red-dark-2: #E13C2F;
    --white-1:#FFFFFF;

    --font-family-titles: 'Dosis', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}

html {
    background-color: black;
}

body {
    background-color: black;
    color: var(--white-1);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    font-size: 16px;
    margin: 4px 0 0 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 24px;
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 18px;
    color: var(--purple-dark-1);
    font-weight: var(--font-weight-title2);
}

h3 {
    color: var(--purple-dark-2);
    font-weight: var(--font-weight-text2);
    font-size: 16px;
}

input {
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
    padding-left: 16px;
}

select {
    background-color: black;
    color:white;
    border-radius: 8px;
}

input::placeholder {
    font-family: var(--font-family-text);
}

button {
    background-color: var(--purple-dark-1);
    border: none;
    color: var(--purple-light-2);
    font-weight: var(--font-weight-text2);
    font-size: 14px;
    cursor: pointer;
}


/* Shared */
.header-container, .trendingPreview-header, .categoriesPreview-container, .liked-header {
    padding: 0 24px;
}

.trendingPreview-container, .categoriesPreview-container, footer, .liked-container {
    margin-top: 48px;
}

.trendingPreview-header, .categoriesPreview-title, .liked-header {
    margin-bottom: 24px;
}

.movie-container {
    cursor: pointer;
    position: relative;
}

.movie-container--loading {
    background: var(--purple-light-2);
    border-radius: 8px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}

.movie-container--loading:nth-child(2) {
    animation-delay: .2s;
}

.movie-container--loading:nth-child(3) {
    animation-delay: .4s;
}

.movie-img {
    border-radius: 8px;
    min-height: 175px;
}

.movie-btn {
    position:absolute;
    top: 5px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    padding: 0;
    margin: 0;
}

.movie-btn::before {
    content: '🤍';
}

.movie-btn--liked {
    background-color: beige;
}

.movie-btn--liked::before {
    content: '❤️';
}

.categoriesPreview-list {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap:nowrap;
    overflow-x: scroll;
}
.categories-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.category-container--loading {
    background: var(--purple-light-2);
    border-radius: 8px;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}

.category-container--loading:nth-child(2) {
    animation-delay: .2s;
}

/* Header */
.header-container {
    padding-top: 40px;
    background-color: black;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.header-container--long {
    background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
    background-size: cover !important;
    height: 480px;
    position: fixed;
    top: 0;
    width: 100%;

}

.header-container--long {
    background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
}

.header-title {
    margin-bottom: 16px;
    color: var(--red-dark-2);
}

.header-arrow {
    font-weight: var(--font-weight-text1);
    font-size: 26px;
    margin-bottom: 16px;
    cursor: pointer;
    display: inline-block;
}
.header-arrow--white {
    color: white;
}

.header-searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

.header-searchForm input {
    height: 48px;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid white;
}
.header-searchForm button {
    width: 56px;
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid white;
}


/* Trending */
.trendingPreview-header, .liked-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trendingPreview-btn {
    border-radius: 8px;
    height: 32px;
    width: 82px;
    background-color: var(--red-dark-2);
}


.trendingPreview-movieList, .liked-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 241px;
    padding-left: 24px;
    padding-bottom: 16px;
}

.trendingPreview-movieList .movie-container, .liked-movieList .movie-container {
    display: inline-block;
    margin-right: 12px;
    overflow-x: scroll ;
    padding-bottom: 30px;


}

.trendingPreview-movieList::-webkit-scrollbar-track,
.liked-movieList::-webkit-scrollbar-track,
.relatedMovies-scrollContainer::-webkit-scrollbar-track,
.categoriesPreview-list::-webkit-scrollbar-track{
	background: black;
}

.trendingPreview-movieList::-webkit-scrollbar-thumb,
.liked-movieList::-webkit-scrollbar-thumb,
.relatedMovies-scrollContainer::-webkit-scrollbar-thumb,
.categoriesPreview-list::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 8px;
}

.trendingPreview-movieList::-webkit-scrollbar,
.liked-movieList::-webkit-scrollbar,
.relatedMovies-scrollContainer,
.relatedMovies-scrollContainer::-webkit-scrollbar,
.categoriesPreview-list::-webkit-scrollbar {
	height: 0.5rem;
}

.trendingPreview-movieList::-webkit-scrollbar-thumb:hover,
.liked-movieList::-webkit-scrollbar-thumb:hover,
.relatedMovies-scrollContainer::-webkit-scrollbar-thumb:hover,
.categoriesPreview-list::-webkit-scrollbar-thumb:hover {
	background: grey;
}

.trendingPreview-movieList .movie-container .movie-img, .liked-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}


/* Categories */
.category-container {

    background-color: #333333;
    border-radius: 15px;
    margin: 15px 10px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.category-container:hover {
    background-color: var(--red-dark-2);
}

.category-title {
    margin: 10px;
    white-space: nowrap;
}


/* Generic List (search, trending & category) */
.genericList-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 24px;
}

.genericList-container .movie-container {
    display: inline-block;
    width: 47.5%;
}

.genericList-container .movie-img {
    width: 100%;
}


/* Movie Detail */
.movieDetail-container {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 32px 24px;
    margin-top: 403px;
    z-index: 1;
    position: absolute;
    background-color: black;
}

.movieDetail-title {
    display: inline-block;
    width: 80%;
    margin: 0 0 16px 0;
    padding: 0;
}

.movieDetail-score {
    display: inline-block;
    text-align: right;
    width: 18%;
    font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
    content: '★';
    color: var(--yellow);
    padding-right: 4px;
}

.movieDetail-description {
    margin: 0 0 24px 0;
}

.relatedMovies-container {
    margin-top: 24px;
    height: 216px;
}

.relatedMovies-title {
    margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(100vw - 24px);
    padding-bottom: 16px;
    height: auto;
}

.relatedMovies-scrollContainer .movie-container {
    display: inline-block;
    margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 187.5px;
    min-height: 187.5px;
    max-height: 187.5px;
}


/* Footer */
footer {
    background-color: var(--purple-medium-3);
    color: var(--purple-light-2);
    text-align: center;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Navigation */
.inactive {
    display: none;
}

/* Animations */
@keyframes loading-skeleton {
    0%, 100% {
        opacity: 100%;
    }
    50% {
        opacity: 0;
    }
}